# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist
build

# Temporary files
tmp
temp
.cache
.pnpm-debug.log

# IDE specific files
.vscode/
.idea/
.DS_Store

# Operating system files
Thumbs.db
ehthumbs.db
Icon?
